extends layout

block content
    script(src='/javascripts/main.js')
    a(href=home) Root
    hr
    if items === undefined
        - items = []
    ul
        each item in items
            li.file-item
                if item["isFile"]
                    =item["name"]
                else if item['isDir']
                    a(href=baseDir + item["name"])= item["name"]

                span
                    if item['exists']
                        a.file-item(href="#") Copy URL
                        a.file-item(href="#") wget
                        a.file-item(href="#") curl
                    else
                        a.file-item(href="#" onclick='upload_item("' + baseDir + item["name"] + '", event)') Upload
