extends layout

block content
    h1= 'Explorer'
    script(src='/javascripts/main.js')
    a(href=home) Root
    hr
    if items === undefined
        - items = []
    ul
        each item in items
            -var itemId  = item['id']
            li.file-item(id=itemId)
                if item["isFile"]
                    =item["name"]
                else if item['isDir']
                    a(href=baseDir + item["name"])= item["name"]

                span
                    if item['exists']
                        a.file-item(href="#" onclick='copy_to_clipboard("' + itemId + '","url")') Copy URL
                        a.file-item(href="#" onclick='copy_to_clipboard("' + itemId + '","wget")') wget
                        a.file-item(href="#" onclick='copy_to_clipboard("' + itemId + '","curl")') curl
                    else if !item['uploading']
                        a.file-item(href="#" onclick='upload_item("' + baseDir + item["name"] + '", "' + item['id'] +
                        '", event)') Upload
                div.progress
                    div.progress-bar(role='progressbar' aria-valuenow='70' aria-valuemin='0' aria-valuemax='100' style='width:1%')
                        span.sr-only