<!DOCTYPE html>
<html>
  <head>
    <title></title>
    <link rel="stylesheet" href="/stylesheets/style.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
  </head>
  <body>
    <h1></h1>
    <form name="d_image" method="post">
      <div class="form-group">
        <label for="name">Image</label>
        <input class="form-control" id="name" type="text" placeholder="node:12" name="name">
      </div>
      <button class="btn btn-primary" type="submit">Pull Images</button>
    </form>
  </body>
</html>