extends layout

block content
    h1= title
    form(name="settings", method="post")
        div.input
            span.label Account Name
            input(type="text", name="name")
        div.input
            span.label Account Key
            input(type="password", name="key")
        div.input
            span.label Endpoint
            input(type="text", name="endpoint" value="blob.core.windows.net")
        div.actions
            input(type="submit", value="Save")