extends layout

block content
    h1= title
    form(name="settings", method="post")
        div.form-group
            label(for='name') Account Name
            input#name.form-control(type='text', placeholder='first and last' name='name')
        div.form-group
            label(for='key') Account Key
            input#key.form-control(type='password' name='key')
        div.form-group
            label(for='endpoint') Endpoint
            input#endpoint.form-control(type='text' name='endpoint'  value="blob.core.windows.net")
        button.btn.btn-primary(type='submit') Save