<!DOCTYPE html>
<html>
  <head>
    <title></title>
    <link rel="stylesheet" href="/stylesheets/style.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
  </head>
  <body>
    <h1></h1>
    <form name="settings" method="post">
      <div class="form-group">
        <label for="name">Account Name</label>
        <input class="form-control" id="name" type="text" placeholder="first and last" name="name">
      </div>
      <div class="form-group">
        <label for="key">Account Key</label>
        <input class="form-control" id="key" type="password" name="key">
      </div>
      <div class="form-group">
        <label for="endpoint">Endpoint</label>
        <input class="form-control" id="endpoint" type="text" name="endpoint" value="blob.core.windows.net">
      </div>
      <button class="btn btn-primary" type="submit">Save</button>
    </form>
  </body>
</html>