<!DOCTYPE html>
<html>
  <head>
    <title></title>
    <link rel="stylesheet" href="/stylesheets/style.css">
  </head>
  <body>
    <h1></h1>
    <form name="settings" method="post">
      <div class="input"><span class="label">Account Name</span>
        <input type="text" name="name">
      </div>
      <div class="input"><span class="label">Account Key</span>
        <input type="password" name="key">
      </div>
      <div class="input"><span class="label">Endpoint</span>
        <input type="text" name="endpoint" value="blob.core.windows.net">
      </div>
      <div class="actions">
        <input type="submit" value="Save">
      </div>
    </form>
  </body>
</html>